body{
    position: relative;
    background-color: #dbcdcd;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a1a1f;
}
.contact-info{
position: relative;
width: auto;
height: auto;
background-color: #0a1a1f;
bottom: 21px;
}
.contact-info h1{
    position: relative;
    text-align: center;
    font-weight: 500;
    font-style: italic;
    color: #02fc6a;
    top: 10px;
}
.contact-block{
    position: relative;
    justify-self: left;
    margin-left: 20px;
    top: 10px;
    text-align: center;
    width: 40vw;
    height: auto;
    background-color: rgba(46, 204, 113, 0.1);
    border: 1px solid cyan;
    border-radius: 10px;
}
.contact-block h2{
    position: relative;
    color: #02fc6a;
    font-size: 20px;
    text-transform: capitalize;
    top: 10px;
    overflow-wrap: break-word;
}
.contact-block img{
    position: relative;
    width: 160px;
    height: 160px;
    top: 10px;
    border-radius: 80px;
}
.contact-block a{
     position: relative;
    text-decoration: none;
    color: rgb(4, 255, 100);
}
.contact-block1{
    position: absolute;
    justify-self: center;
    margin-left: 20px;
    top: 70px;
    transform: translate(60%);
    text-align: center;
    width: 40vw;
    height: auto;
    background-color: #1c3238;
    border: 1px solid cyan;
    border-radius: 10px;
}
.contact-block1 h2{
    position: relative;
    color: #02fc6a;
    font-size: 20px;
    text-transform: capitalize;
    top: 10px;
    overflow-wrap: break-word;
}
.contact-block1 img{
    position: relative;
    width: 160px;
    height: 160px;
    top: 10px;
    border-radius: 80px;
}
.contact-block1 a{
    position: relative;
    text-decoration: none;
    color: rgb(4, 255, 100);
}
.contact-block2{
    position: relative;
    justify-self: left;
    margin-left: 20px;
    top: 30px;
    text-align: center;
    width: 40vw;
    height: auto;
    background-color: #1c3238;
    border: 1px solid cyan;
    border-radius: 10px;
}
.contact-block2 h2{
    position: relative;
    color: #02fc6a;
    font-size: 20px;
    text-transform: capitalize;
    top: 10px;
    overflow-wrap: break-word;
}
.contact-block2 img{
     position: relative;
    width: 160px;
    height: 160px;
    top: 10px;
    border-radius: 80px;
}
.contact-block2 a{
    position: relative;
    text-decoration: none;
    color: rgb(4, 255, 100);
}
.contact-block3{
  position: absolute;
    justify-self: center;
    margin-left: 20px;
    top:450px;
    transform: translate(60%);
    text-align: center;
    width: 40vw;
    height: auto;
    background-color:#0a1a1f;
    border: 1px solid cyan;
    border-radius: 10px;
}
.contact-block3 h2{
     position: relative;
    color: #02fc6a;
    font-size: 20px;
    text-transform: capitalize;
    top: 10px;
    overflow-wrap: break-word;
}
.contact-block3 a{
    position: relative;
    text-decoration: none;
    color: rgb(4, 255, 100);
}
.contact-block3 img{
    position: relative;
    width: 160px;
    height: 160px;
    top: 10px;
    border-radius: 80px;
}
.footer{
    position: relative;
    width: auto;
    background-color: #0a1a1f;
    top: 10px;
    height: auto;
}
.footer hr{
    position: relative;
    width: 200px;
    font: 20px bold;
    font-weight: 900;
    top: 20px;
}
.footer-links{
    position: relative;
    width: 20vw;
    height: auto;
    justify-self: left;
    text-align: center;
    margin-left: 20px;
    top: 20px;
}
.footer-links h3{
    position: relative;
    color: hsl(120, 1%, 26%);
    overflow-wrap: break-word;
    text-align: center;
}
.card1{
    display: grid;
    flex-wrap: wrap;
    gap: 5px;
}
.card1 a{
    position: relative;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    opacity: 1;
}
.card1 a:hover{
    transition: all ease-in 0.3s;
    transform: translate(20px);
    margin-left: 2px;
    cursor: pointer;
    opacity: 1;
    color: #02fc6a;
}
.menu{
    position: absolute;
    justify-self: center;
    top: 0px;
    width: 20vw;
    height: auto;
    text-align: center;
}
.menu h3{
    position: relative;
    color: #464545;
    overflow-wrap: break-word;
    text-align: center;
}
.card2{
    display: grid;
    flex-wrap: wrap;
    gap: 5px;
}
.card2 a{
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.card2 a:hover{
    transition: ease 0.3s;
    color: #02fc6a;
    transform: translate(20px);
    margin-left: 2px;
    opacity: 1;
}
.card5{
    position: absolute;
    width: 20vw;
    height: auto;
    justify-self: right;
    text-align: center;
    margin-right: 20px;
    top: 0px;
}
.card5 h3{
    position: relative;
    color: #3d3c3c;
    top: 10px;
    overflow-wrap: break-word;
}
.card6{
    display: grid;
    flex-wrap: wrap;
    gap: 5px;
}
.card6 a{
    position: relative;
    text-decoration: none;
    color: white;
    text-align: center;

}
.card6 a:hover{
    transition: ease 0.3s;
    cursor: pointer;
    transform: translate(20px);
    color: #02fc6a;
    margin-left: 2px;
    opacity: 1;
}
.bottom{
    position: relative;
    justify-self: center;
    top: 30px;
    text-align: center;
}
.bottom p{
    position: relative;
    color: #3d3c3c;
}

.contact-block:hover{
    transition: ease 0.3s;
    border: 1px solid #cc00ff;
    opacity: 1;
    cursor: pointer;
    transform: translate(2px);
    padding-bottom: 0px;
    background-color: #002f55;
}
.contact-block2:hover{
     transition: ease 0.3s;
    border: 1px solid #cc00ff;
    opacity: 1;
    cursor: pointer;
    transform: translate(2px);
    background-color: #002f55;
}


/* my responive design */

@media(max-width:600px){
    .contact-block{
        position: relative;
        width: 90vw;
        height: auto;
        justify-self: center;
        text-align: center;
        margin-left: 0px;
    }
}
@media(max-width:600px){
    .contact-block img{
        position: relative;
        width: 80vw;
        height: 35vh;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .contact-block1{
        position: relative;
        justify-self: center;
        transform: translate(0px);
        width: 90vw;
        top: 20px;
        margin-left: 0px;
    }
}
@media(max-width:600px){
    .contact-block1 img{
         position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .contact-block2{
        position: relative;
        justify-self: center;
        margin-left: 0px;
        transform: translate(0px);
        text-align: center;
        width: 90vw;
    }
}
@media(max-width:600px){
    .contact-block2 img{
         position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .contact-block3{
        position: relative;
        width: 90vw;
        justify-self: center;
        text-align: center;
        margin-left: 0px;
        transform: translate(0px);
        cursor: pointer;
        top: 40px;
    }
}
@media(max-width:600px){
    .contact-block3 img{
         position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .contact-info{
        position: relative;
        width: auto;
        height: auto;
        justify-self: center;
    }
}

@media(max-width:600px){
    .footer{
        position: relative;
        top: 80px;
    }
}