body{
    margin:0;
    font-family: Arial, sans-serif;
}
.card{
    position: relative;
    bottom: 0px;
    overflow-wrap: break-word;
    width: auto;
    padding: 10px;
    justify-items: end;
    background: #364253; box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.logo{
    position: relative;
    font: 20px bold;
    justify-self: left;
    color: limegreen;
    width: 10vw;
    text-align: center;
    border-radius: 10px;
    top: 10px;
    height: 6vh;
    background-color: rgb(21, 107, 160);
}
.logo:hover{
    position: relative;
    background-color: #abffab;
    cursor: pointer;
    transition: all ease 0.3s;
}
.logo b{
    position: relative;
    text-align: center;
    top: 10px;
}
.logo a{
    position: relative;
    text-decoration: none;
}
@media(max-width:600px){
    .logo b{
        position: relative;
        font-size: 20px;
        top: 30px;
        text-align: center;
        color: white;
    }
}
@media(max-width:600px){
    .logo{
        position: relative;
        width: 30vw;
        height: 10vh;
        border-radius: 20px;
        background-color: rgb(2, 31, 2);
        margin-bottom: 50px;
        justify-self: center;
    }
}
.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.menu a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #faf7f7;
    bottom: 20px;
}
.menu a:hover{
    position: relative;
    transition: all ease 0.3s;
    color: indianred;
    transform: translateX(2px);
    cursor: pointer;
}
#product.product{
    position: relative;
    width: 70vw;
    height: 50vh;
    border-radius: 20px;
    background-color: #697b94;
    font: 20px bold;
    color: white;
    justify-self: center;
    text-align: center;
    overflow-wrap: break-word;
}
#product.product:hover{
    transition: ease 0.3s;
    background-color: #0d6e3a;
    cursor: pointer;
}
.product span{
    position: relative;
    color: rgb(221, 4, 250);
    font-size: 30px;
    text-transform: capitalize;
}
.product p{
    position: relative;
    top: 50px;
}
.product p:hover{
    color: white;
}

.card1{
    position: relative;
    width: auto;
    height: auto;
    top: 30px;
}
.card2{
    position: relative;
    width: 30vw;
    height: auto;
    background-color: white;
    justify-self: left;
    margin-left: 20px;
    text-align: center;
    top: 20px;
    border-radius: 10px;
}
.card2 img{
    position: relative;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    top: 10px;
}
.card2 p{
    position: relative;
    color: #222121;
    font-size: medium;
    font-weight: 500;
    overflow-wrap: break-word;
}
.card2 p:hover{
    color: white;
}
.card2:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #00b7ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.card3{
    position: absolute;
    justify-self: center;
    width: 30vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    top: 0px;
}
.card3 img{
    position: relative;
    top: 10px;
    width: 25vw;
    height: 25vh;
    top: 10px;
    border-radius: 10px;
}
.card3 p{
    position: relative;
    color: #1d1d1d;
    overflow-wrap: break-word;
}
.card3 p:hover{
    color: white;
}
.card3:hover{
     transition: ease 0.3s;
    background-color: #063036;
    border: 1px solid hsl(207, 100%, 50%);
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.card4{
    position: absolute;
    width: 30vw;
    height: auto;
    background-color: white;
    top: 0px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    justify-self: right;
    margin-right: 20px;
}
.card4 img{
    position: relative;
    width: 25vw;
    height: 25vh;
    border-radius: 10px;
    top: 10px;
}
.card4 p{
    position: relative;
    color: #000000;
    overflow-wrap: break-word;
}
.card4 p:hover{
    color: white;
}
.card4:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #0099ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
@media(max-width:600px){
    #product.product{
        position: relative;
        width: 90vw;
        height: auto;
        top: 20px;
        background-color: white;
        justify-self: center;
        text-align: center;
        color: black;
        border: 1px solid red;
    }
}
@media(max-width:600px){
    .product span{
        position: relative;
        color: blue;
        bottom: 0px;
    }
}
@media(max-width:600px){
    .product p{
        position: relative;
        top: 0px;
    }
}

@media(max-width:600px){
    .card1{
        position: relative;
        width: auto;
        height: auto;
        top: 20px;
        
    }
}
@media(max-width:600px){
    .card2{
        position: absolute;
        justify-self: center;
        width: 90vw;
        height: auto;
        background-color: wheat;
        color: black;
        margin-left: 0px;
        top: 10px;
        border-radius: 20px;
        border: 1px solid orange;
    }
}
@media(max-width:600px){
    .card2 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
    }
}

@media(max-width:600px){
    .card3{
        position: absolute;
        background-color: wheat;
        color: black;
        text-align: center;
        justify-self: center;
        width: 90vw;
        height: auto;
        top: 420px;
        border-radius: 20px;
        border: 1px solid yellow;
    }
}
@media(max-width:600px){
    .card3 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
    }
}

@media(max-width:600px){
    .card4{
        position: absolute;
        margin-right: 0px;
        justify-self: center;
        text-align: center;
        cursor: pointer;
        width: 90vw;
        height: auto;
        top: 820px;
        background-color: wheat;
        color: black;
        border: 1px solid blue;
        border-radius: 20px;
    }
}
@media(max-width:600px){
    .card4 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
    }
}
@media(max-width:600px){
    .card4 p{
        color: black;
    }
}
.btn {
   top: 70px;
   position: relative;
   justify-self: center;
   position: relative;
}
.btn1{
   position: relative;
    width: 30vw;
    height: auto;
    background-color: white;
   transform: translate(-110%);
    text-align: center;
    top: 10px;
    justify-self: left;
    border-radius: 10px;
}
.btn1:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #0099ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.btn1 img{
    position: relative;
    top: 10px;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
}
.btn1 button{
    position: relative;
    background-color: #01862d;
    font-size: 20px;
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    bottom: 5px;
    color: white;
}
.btn1 button:hover{
    transition: ease 0.3s;
    cursor: pointer;
    background-color: #3f003c;
    color: white;
    opacity: 1;
}
.btn2{
    position: absolute;
    width: 30vw;
    height: auto;
    background-color: white;
    border:none;
    border-radius: 10px;
    text-align: center;
    justify-self: center;
    top: 0px;
}
.btn2:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #0099ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.btn2 img{
    position: relative;
    top: 10px;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
}
.btn2 button{
    position: relative;
    background-color: #01862d;
    font-size: 20px;
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    bottom: 5px;
    color: white;
}
.btn2 button:hover{
     transition: ease 0.3s;
    cursor: pointer;
    background-color: #2b003f;
    color: white;
    opacity: 1;
}
.btn3{
    position: absolute;
     width: 30vw;
    height: auto;
    background-color: white;
    border:none;
    transform: translate(110%);
    border-radius: 10px;
    text-align: center;
    justify-self: right;
    top:10px;
}
.btn3:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #0099ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.btn3 img{
    position: relative;
    top: 10px;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
}
.btn3 button{
    position: relative;
    background-color: #01862d;
    font-size: 20px;
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    bottom: 5px;
    color: white;
}
.btn3 button:hover{
     transition: ease 0.3s;
    cursor: pointer;
    background-color: #13003f;
    color: white;
    opacity: 1;
}
.btn4{
     width: 30vw;
     position: relative;
    height: auto;
    background-color: white;
    border:none;
    border-radius: 10px;
    transform: translate(-110%);
    text-align: center;
    top: 40px;
    justify-self: left;
}
.btn4:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #0099ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.btn4 img{
     position: relative;
    top: 10px;
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
}
.btn4 button{
 position: relative;
    background-color: #860101;
    font-size: 20px;
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    bottom: 5px;
    color: white;
    cursor: pointer;
}
.btn4 button:hover{
     transition: ease 0.3s;
    cursor: pointer;
    background-color: #00113f;
    color: white;
    opacity: 1;
}
.btn5{
    position: absolute;
    width: 63vw;
    border-radius: 10px;
    cursor: pointer;
    height: auto;
    background-color: white;
    text-align: center;
    justify-self: center;
    top: 400px;
    transform: translate(25%);
    opacity: 1;
}
.btn5:hover{
     transition: ease 0.3s;
    background-color: #01262b;
    border: 1px solid #0099ff;
    padding-left: 2px;
    height: auto;
    cursor: pointer;
}
.btn5 img{
    position: relative;
    width: 55vw;
    height: 35vh;
    top: 10px;
    border-radius: 10px;
}
.btn5 button{
     position: relative;
    background-color: #01862d;
    font-size: 20px;
    width: 20vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    bottom: 5px;
    color: white;
    cursor: pointer;
}
.btn5 button:hover{
     transition: ease 0.3s;
    cursor: pointer;
    background-color: #00303f;
    color: white;
    opacity: 1;
}
footer {
    background: #0a0a0f;
    padding: 60px 20px;
    position: relative;
    text-align: center;
    width: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    margin-top: 150px;
}

footer hr {
    width: 100px;
    border: 1px solid #2ecc71;
    margin-bottom: 30px;
}

footer h3 {
    color: #2ecc71;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 20px;
}

footer p {
    color: #888;
    font-size: 14px;
    margin: 10px 0;
}

footer a {
    color: #2ecc71;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

@media(max-width:600px){
    footer{
        position: relative;
        top: 1200px;
    }
}

@media(max-width:600px){
    .btn{
        position: relative;
        justify-self: center;
        top: 1250px;
    }
}
@media(max-width:600px){
    .btn1{
        position: relative;
        justify-self: center;
        width: 90vw;
        height: auto;
        top: 40px;
        background-color: wheat;
        text-align: center;
        margin-left: 0px;
        transform: translate(0%);
        border-radius: 10px;
        border: 1px solid cyan;
    }
}
@media(max-width:600px){
    .btn1 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
        opacity: 1;
    }
}
@media(max-width:600px){
    .btn1 button{
        position: relative;
        width: 30vw;
        height: 6vh;
        border: none;
        border-radius: 10px;
        background-color: #2e0c00;
        color: white;
        font-size: medium;
    }
}


@media(max-width:600px){
    .btn2{
        position: relative;
        justify-self: center;
        width: 90vw;
        top: 50px;
        height: auto;
        background-color: wheat;
        text-align: center;
        transform: translate(0%);
        border-radius: 10px;
        border: 1px solid rgb(23, 27, 27);
    }
}
@media(max-width:600px){
    .btn2 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
        opacity: 1;
    }
}
@media(max-width:600px){
    .btn2 button{
        position: relative;
        width: 30vw;
        height: 6vh;
        border: none;
        border-radius: 10px;
        background-color: #2c0e03;
        color: white;
        font-size: medium;
    }
}


@media(max-width:600px){
    .btn3{
        position: relative;
        justify-self: center;
        width: 90vw;
        margin-right: 0px;
        height: auto;
        top: 60px;
        transform: translate(0%);
        background-color: wheat;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #061616;
    }
}
@media(max-width:600px){
    .btn3 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
        opacity: 1;
    }
}
@media(max-width:600px){
    .btn3 button{
        position: relative;
        width: 30vw;
        height: 6vh;
        border: none;
        border-radius: 10px;
        background-color: #1b0b05;
        color: white;
        font-size: medium;
    }
}

@media(max-width:600px){
    .btn4{
        position: relative;
        justify-self: center;
        width: 90vw;
        height: auto;
        top: 70px;
        margin-left: 0px;
        transform: translate(0%);
        background-color: wheat;
        text-align: center;
        border-radius: 10px;
        border: 1px solid cyan;
    }
}
@media(max-width:600px){
    .btn4 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
        opacity: 1;
    }
}
@media(max-width:600px){
    .btn4 button{
        position: relative;
        width: 30vw;
        height: 6vh;
        border: none;
        border-radius: 10px;
        background-color: #2e0c00;
        color: white;
        font-size: medium;
    }
}

@media(max-width:600px){
    .btn5{
        position: relative;
        width: 90vw;
        height: auto;
        background-color: wheat;
        text-align: center;
        justify-self: center;
        transform: translate(0%);
        border-radius: 10px;
        top: 80px;
        border: 1px solid cyan;
    }
}
@media(max-width:600px){
    .btn5 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
        top: 10px;
        opacity: 1;
    }
}
@media(max-width:600px){
    .btn5 button{
        position: relative;
        width: 30vw;
        height: 6vh;
        border: none;
        justify-self: center;
        border-radius: 10px;
        background-color: #2e0c00;
        color: white;
        font-size: medium;
    }
}