body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,skyblue,lightgreen,indianred);
}
.navbar{
    position: relative;
    bottom: 0px;
    overflow-wrap: break-word;
    width: auto;
    padding: 10px;
    justify-items: end;
    background: #364253; box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.logo{
    position: relative;
    font: 20px bold;
    justify-self: left;
    color: limegreen;
    width: 10vw;
    text-align: center;
    border-radius: 10px;
    top: 10px;
    height: 6vh;
    background-color: rgb(21, 107, 160);
}
.logo:hover{
    position: relative;
    background-color: #abffab;
    cursor: pointer;
    transition: all ease 0.3s;
}
.logo b{
    position: relative;
    text-align: center;
    top: 10px;
}
.logo a{
    position: relative;
    text-decoration: none;
}
@media(max-width:600px){
    .logo b{
        position: relative;
        font-size: 20px;
        top: 30px;
        text-align: center;
        color: white;
    }
}
@media(max-width:600px){
    .logo{
        position: relative;
        width: 30vw;
        height: 10vh;
        border-radius: 20px;
        background-color: rgb(2, 31, 2);
        margin-bottom: 50px;
        justify-self: center;
    }
}
.menu{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.menu a{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #faf7f7;
    bottom: 20px;
}
.menu a:hover{
    position: relative;
    transition: all ease 0.3s;
    color: indianred;
    transform: translateX(2px);
    cursor: pointer;
}
.container{
    position: relative;
    width: auto;
    height: 70vh;
    overflow-wrap: break-word;
    background: linear-gradient(to right,skyblue,rgb(50, 88, 88),rgb(243, 134, 134));
    justify-self: center;
    top: 10px;
    border-radius: 10px;
}
.item0{
    position: relative;
    justify-self: center;
    text-align: center;
    top: 10px;
}
.item0 img{
    position: relative;
    justify-self: right;
    opacity: 1;
    top: 10px;
    width: 30vw;
    border-radius: 10px;
    height: 30vh;
}
.post{
    position: relative;
    top: 10px;
    overflow-wrap: break-word;
    justify-self: center;
}
.category{
    position: relative;
    text-align: center;
    color: #abffab;
    font: bold 20px;
}
.post h2{
    position: relative;
    overflow-wrap: break-word;
    top: 10px;
}
.post p{
    position: relative;
    overflow-wrap: break-word;
    text-align: center;
}
.post small{
    position: relative;
    color: #abffab;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    font: bold;
    font-weight: 900;
}
.post button{
    position: relative;
    width: 20vw;
    height: 7vh;
    border: none;
    color: white;
    border-radius: 10px;
    font: 20px bold;
    background-color: #004400;
}
.item{
    position: relative;
    width: auto;
    height: auto;
    justify-self: center;
}
.item h3{
    position: relative;
    top: 10px;
    font-size: 20px;
    text-align: center;
    font: bold;
    font-weight: 900;
    color: #002fff;
}
.item1{
    position: relative;
    top: 30px;
    width: auto;
    height: auto;
    justify-self: center;
}
.item2{
    position: relative;
    top: 10px;
    width: 30vw;
    height: auto;
    top: 100px;
    border-radius: 10px;
    overflow-wrap: break-word;
    background-color: #364253;
    justify-self: left;
    transform: translate(-85%);
    text-align: center;
}
.item2 h4{
    text-align: center;
    color: #abffab;
    font: bold 20px;
    overflow-wrap: break-word;
}
.item2 p{
    position: relative;
    color: black;
}
.item2 a{
    position: relative;
    text-decoration: none;
    color: blue;
    bottom: 5px;
}
.item2 img{
    position: relative;
    width: 25vw;
    height: 30vh;
    top: 10px;
    border-radius: 10px;
}
.item3{
    position: absolute;
    top: 0px;
    width: 50vw;
    height: auto;
    background-color:#364253;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    transform: translate(40%);
}
.card0{
    position: relative;
    width: 40vw;
    justify-self: center;
    overflow-wrap: break-word;
    top: 10px;
    height: 60vh;
    border-radius: 20px;
}
.item3 h4{
    position: relative;
    overflow-wrap:break-word;
    color: #abffab;
    font: 20px bold;
}
.item3 a{
    position: relative;
    text-decoration: none;
    color: blue;
    cursor: pointer;
    bottom: 5px;
}
.item4{
    position: absolute;
    justify-self: left;
    width: 40vw;
    height: auto;
    top: 530px;
    background-color: #364253;
    border-radius: 10px;
    transform: translate(-70%);
    text-align: center;
}
.item4 img{
    position: relative;
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    top: 10px;
}
.item4 h4{
    position: relative;
    color: #abffab;
    font: 20px bold;
}
.item4 p{
    position: relative;
    overflow-wrap: break-word;
}
.item4 a{
    position: relative;
    text-decoration: none;
    bottom: 5px;
    color:blue;
}
.item5{
    position: absolute;
    justify-self: right;
    width: 40vw;
    height: auto;
    top: 500px;
    background-color: #364253;
    border-radius: 10px;
    transform: translate(60%);
    top: 530px;
    text-align: center;
}
.item5 img{
    position: relative;
    top: 10px;
    border-radius: 10px;
    width: 35vw;
    height: 32vh;
}
.item5 h4{
    position: relative;
    color: #abffab;
    font: 20px bold;
    overflow-wrap: break-word;
}
.item5 a{
    position: relative;
    color: blue;
    text-decoration: none;
    bottom: 5px;
}
.item6{
    position: relative;
    width: auto;
    top: 600px;
    height: 30vh;
    background-color: #121820;
}
.box{
    position: relative;
    width: auto;
    height: 20vh;
    justify-self: left;
    margin-left: 20px;
    top: 10px;
    text-align: center;
}
.box h3{
    position: relative;
    color: #abffab;
    font: 20px bold;
    overflow-wrap: break-word;
}
.box p{
    position: relative;
    color: #5e5c5c;
    overflow-wrap: break-word;
}
.box input{
    position: relative;
    width: 30vw;
    height: 2vh;
    color: white;
    background-color: #364253;
    border: 1px solid cyan;
    cursor: pointer;
}
.box button{
    position: relative;
    width: 10vw;
    height: 6vh;
    color: white;
    background-color: rgb(0, 78, 33);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.box input::placeholder{
    color: white;
}
.box input:hover{
    transition: all ease 0.3s;
    border:1px solid purple;
    opacity: 1;
    cursor: pointer;
}
.footer{
     position: relative;
    width: auto;
    top: 550px;
    height: 40vh;
    text-align: center;
    background-color: #121820;
}
.top{
    position: relative;
    top: 30px;
    justify-self: right;
    margin-right: 20px;
    width: auto;
    height: auto;
    text-align: center;
}
.top h4{
    position: relative;
    top: 5px;
    color: #abffab;
    font: 20px bold;
}
.top p{
    position: relative;
    color: #636262;
    overflow-wrap: break-word;
}
.top a{
    position: relative;
    text-decoration: none;
    color: white;
}
.top a:hover{
    transition: all ease-in 0.3s;
    color: wheat;
    transform: translateY(5px);
    padding-left: 5px;
}
.bottom{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    justify-self: center;
}
.bottom p{
    position: relative;
    color: #5e5c5c;
    overflow-wrap: break-word;
}
.bottom b{
    position: relative;
    color:hwb(0 54% 45%);
}
.container:hover{
    transition: ease 0.3s;
    border: 1px solid cyan;
   background: linear-gradient(to bottom,skyblue,rgb(76, 139, 139),indianred);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item2:hover{
    transition: ease 0.3s;
    border: 1px solid cyan;
    background-color: #003c6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item3:hover{
    transition: ease 0.3s;
    border: 1px solid cyan;
    background-color: #003c6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item4:hover{
    transition: ease 0.3s;
    border: 1px solid cyan;
    background-color: #003c6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.item5:hover{
    transition: ease 0.3s;
    border: 1px solid cyan;
    background-color: #003c6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* my responsive design of blog */

@media(max-width:600px){
    .container{
        position: relative;
        justify-self: center;
        width: 90vw;
        height: auto;
        border: 1px solid cyan;
        margin-left: 0px;
    }
}
@media(max-width:600px){
    .item0 img{
        position: relative;
        width: 80vw;
        height: 30vh;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .post button{
        position: relative;
        width: 40vw;
        height: 7vh;
        bottom: 20px;
    }
}
@media(max-width:600px){
    .item{
        position: relative;
        justify-self: center;
    }
}
@media(max-width:600px){
    .item2{
        position: relative;
        width: 90vw;
        height: auto;
        justify-self: center;
        transform: translate(0%);
        top: 10px;
    }
}
@media(max-width:600px){
    .item2 img{
        position: relative;
        width: 80vw;
        height: 30vh;
    }
}
@media(max-width:600px){
    .item3{
        position: relative;
        justify-self: center;
        transform: translate(0%);
        width: 90vw;
        height: auto;
        top: 30px;
    }
}
@media(max-width:600px){
    .card0{
        position: relative;
        width: 80vw;
        justify-self: center;
        height: 30vh;
    }
}
@media(max-width:600px){
    .item4{
        position: relative;
        width: 90vw;
        height: auto;
        top: 50px;
        justify-self: center;
        transform: translate(0px);
    }
}
@media(max-width:600px){
    .item4 img{
        position: relative;
        width: 80vw;
        height: 30vh;
    }
}
@media(max-width:600px){
    .item5{
        position: relative;
        transform: translate(0px);
        width: 90vw;
        height: auto;
        justify-self: center;
        top: 70px;
    }
}
@media(max-width:600px){
    .item5 img{
        position: relative;
        width: 80vw;
        height: 30vh;
    }
}

@media(max-width:600px){
    .item6{
        position: relative;
        top: 100px;
        width: 90vw;
        justify-self: center;
        height: 30vh;
        border-radius: 10px 10px 0 0;
    }
}
@media(max-width:600px){
    .box{
        position: relative;
        justify-self: center;
    }
}
@media(max-width:600px){
    .box input{
        position: relative;
        width: 30vw;
    }
}
@media(max-width:600px){
    .box button{
        position: relative;
        width: 20vw;
        height: 6vh;
        transform: translate(50%);
        top: 20px;
    }
}
@media(max-width:600px){
    .footer{
        position: relative;
        top:70px;
        width: 90vw;
        justify-self: center;
    }
}
@media(max-width:600px){
    .bottom{
        position: relative;
        top: 50px;
    }
}